{% load static i18n %}
<li class="{% if '/dashboard/' in request.path %} active {% endif %}">
    <a href="{% url 'base_dashboard' %}">
        <i class="fa fa-dashboard">
            Inicio
        </i>
    </a>
</li>
{% if perms.auth.view_user or perms.auth.view_group or perms.auth.view_logentry %}
<li class="{% if '/admin/' in request.path %} active show {% endif %} menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="menu-icon fa fa-laptop"></i>
        Administración
    </a>
    <ul class="sub-menu children dropdown-menu">
        {% if perms.auth.view_user %}
        <li class="{% if '/users/' in request.path %} active {% endif %}">
            <a href="{% url 'admin_user' %}"><i class="fa fa-user"></i>Usuarios</a>
        </li>
        {% endif %}
        {% if perms.auth.view_group %}
        <li class="{% if '/groups/' in request.path %} active {% endif %}">
            <a href="{% url 'admin_group' %}"><i class="fa fa-users"></i>Grupos</a>
        </li>
        {% endif %}
        {% if perms.auth.view_logentry %}
        <li class="{% if '/logs/' in request.path %} active {% endif %}">
            <a href="{% url 'admin_logs' %}"><i class="fa fa-users"></i>Registros</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
