{% extends 'layouts/dashboard.html' %}
{% block breadcrumbs_title %}Crear Email{% endblock breadcrumbs_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/emailing/email' == request.path %}
    <li class="active">Email</li>
    {% else %}
    <li>
        <a href="{% url 'email' %}">
            Email
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
{% if success %}
    <div class="alert alert-success">
        {{success}}
    </div>
{% endif %}
<div class="card col-sm-5 offset-sm-3">
    <div class="card-header">
        Crear Email
    </div>
    <div class="card-body card-block">
        <form method="POST" >
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="form-control-label">{{ field.label }}</label>
                {{ field }}
                <p class="form-text text-muted">{{ field.hepl_text }}</p>
            </div>
            {% endfor %}
            <div class="card-footer">
                <button  class="pull-right btn btn-primary" type="submit">
                    <i class="fa fa-plane"></i>
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content_page %}