{% extends 'dpv_locales/list.html' %}
{% block page_title %} | Formulario {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/js/lib/jquery-ui/css/jquery-ui.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Crear {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/local/form/' == request.path %}
    <li class="active">Crear</li>
    {% else %}
    <li class="active">Actualizar</li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <form novalidate method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% if form.errors|length == 1 %}"Por favor, corrija el error señalado a continuación."{% else %}"Por favor, corrija los errores señalados a continuación."{% endif %}
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Local</strong>
                </div>
                <div class="card-body">
                    {% for field in form %}
                    <div class="form-group {% if field.name == 'observaciones' %} col-md-12 {% else %} col-md-6 {% endif %} {% if field.name == 'municipio' and not request.user.perfil_usuario.centro_trabajo.oc %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="{{field.help_text}}" >
                        {{field.errors}}
                        <label class="control-label mb-1" for="id_{{field.name}}">{{field.label}}</label>
                        {{field}}
                        {{field.required }}
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a type="button" class="btn btn-default" href="{% url 'locales_list' %}">
                        <i class="fa fa-reply"></i>
                        Volver
                    </a>
                    <button type="submit" class="pull-right btn btn-primary">
                        <i class="fa fa-check"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Viviendas del local</strong>
                <button onclick="return abrir_modal('/vivienda/formodal/{{local.id}}')" type="submit" class="pull-right btn btn-success" {% if '/local/form/' == request.path %}disabled="true" title="Para poder agregar viviendas al local debe guardarlo primero"  data-toggle="tooltip" data-placement="top"{% endif %}>
                    <i class="fa fa-plus"></i>
                    Agregar Vivienda
                </button>
            </div>
            <div class="card-body">
                <div class="h-list row">
                    {% for vivienda in local.vivienda_local.all %}
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Número</th>
                                    <td>{{ vivienda.numero }}</td>
                                </tr>
                                <tr>
                                    <th>Propietario</th>
                                    <td>{{ vivienda.propietario }}</td>
                                </tr>
                                <tr>
                                    <th>Concepto</th>
                                    <td>{{ vivienda.concepto }}</td>
                                </tr>
                                <tr>
                                    <th>Cant. Personas</th>
                                    <td>{{ vivienda.cantidad_persona }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha Habitado</th>
                                    <td>{{ vivienda.fecha_propietario }}</td>
                                </tr>
                                <tr>
                                    <th>Destino</th>
                                    <td>{{ vivienda.destino }}</td>
                                </tr>
                                <tr>
                                    <th>Aprobado</th>
                                    <td>{% if vivienda.aprobada %} <i class="fa fa-check-square-o text-success"></i> {% else %}<i class="fa fa-square-o text-danger"></i> {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% empty %}
                    <div class="col-sm-12">
                        <div class="alert  alert-success alert-dismissible fade show text-center" role="alert">
                            No hay viviendas asociadas a este local
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-show modal-center" id="popup" role="dialog">

    </div>
{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/jquery-ui/js/jquery-ui.js' %}"></script>
    <script src="{% static 'dpv_locales/js/locales.js' %}"></script>
{% endblock extra_scripts %}