{% load static i18n %}
<li class="{% if '/quejas/' in request.path %} active show {% endif %} menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="menu-icon fa fa-tasks"></i>
        Quejas
    </a>
    <ul class="sub-menu children dropdown-menu">
        {#        {% if perms.dpv_nomencladores.view_provincia %}#}
        <li class="active">
            <a href="{% url 'add_natural_person' %}"><i class="fa fa-tag"></i>Adicionar Queja Natural</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_municipio %}#}
        <li class="active">
            <a href="{% url 'add_juridic_complaint' %}"><i class="fa fa-tag"></i>Adicionar Queja Juridica</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_destino %}#}
        <li class="active">
            <a href="{% url 'index_natural_complaint' %}"><i class="fa fa-tag"></i>Quejas Naturales</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_organismo %}#}
        <li class="active">
            <a href="{% url 'index_juridic_complaint' %}"><i class="fa fa-tag"></i>Quejas Juridicas</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_calle %}#}
        <li class="active">
            <a href="{% url 'waiting_for_distribution' %}"><i class="fa fa-tag"></i>Quejas en Espera de distribucion</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_piso %}#}
        <li class="active">
            <a href="{% url 'index_finished_complaint' %}"><i class="fa fa-tag"></i>Quejas Finalizadas</a>
        </li>
        {#        {% endif %}#}
        {#        {% if perms.dpv_nomencladores.view_genero %}#}
        <li class="active">
            <a href="{% url 'index_accepted_all' %}"><i class="fa fa-tag"></i>Quejas Aceptadas</a>
        </li>

    </ul>
</li>
{# TODO gabriela Permissions for modifications #}
{# For further details, goto => : 'dpv_nomencladores/templates/dpv_nomencladores/menu/main_menu.html'#}
{# This is how Rey do it ^ #}