{% extends 'dpv_complaint/complaint_main_page.html' %}

{% block breadcrumbs_title %}
{% endblock breadcrumbs_title %}
{% block content_page %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div>
            <div class="card-header">
                <strong class="card-title">{{ form_name }}</strong>
                <a role="button" class="pull-right btn btn-success btn-sm"
                   href={% url 'add_natural_person' %}><i class="fa fa-plus">
                    Agregar Queja Natural</i></a>
                <a role="button" class="pull-right
                   btn btn-success btn-sm" href={% url 'add_juridic_person' %}><i class="fa fa-plus">
                    Agregar Queja Juridica</i></a>

            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Argumentos del técnico</h4>
                </div>
                <div class="modal-body">
                    <form class="row" role="form" method="post">
                        <div class="col-md-12">
                            <div class="form-control-sm">
                                <label for="">Argumentos del técnico</label>
                                {{ form.non_field_errors }}
                                {{ form.technical_args }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" href={% url "main_complaint" %}>Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock content_page %}
