{% extends 'layouts/base.html' %}

{% block content_page %}
    {% block breadcrumbs_title %}
    {% endblock breadcrumbs_title %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Argumentos del Técnico</h4>
                </div>
                <div class="modal-body">
                    <form class="row" role="form" method="post">
                        <div class="col-md-12">
                            <div class="form-control-sm">
                                <label for="">Argumentos del técnico</label>
                                {{ form.non_field_errors }}
                                {{ form.technical_args }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" href={% url "main_complaint" %}>Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock content_page %}
