{% extends 'layouts/base.html' %}
{% block content_page %}
{% block breadcrumbs %}
    {{block.super }}


{% endblock breadcrumbs %}
    <style type="text/css">
        td {
            padding: 0px 8px 0px 8px;
        }
    </style>
    <h2><a href={% url 'add_natural_complaint' %}> + Insertar Queja Natural</a></h2>
    <h2><a href={% url 'index_natural_complaint' %}> + Ver Quejas Naturales</a></h2>
    <h2><a href={% url 'add_juridic_complaint' %}> + Insertar Queja Juridica</a></h2>
    <h2><a href={% url 'index_juridic_complaint' %}> + Ver Quejas Juridicas</a></h2>
    <h2><a href={% url 'waiting_for_distribution' %}> + Ver Quejas en espera de Distribucion</a></h2>
    <h2><a href={% url 'index_finished_complaint' %}> + Ver Quejas Finalizadas</a></h2>
    <h2><a href={% url 'index_accepted_all' %}> + Ver Quejas Aceptadas</a></h2>


{% endblock  %}

{# TODO liset Make look this better #}
{# I don't care what you use, just make look good and according to all project #}
{# You may look for Rey work at others projects, i suggest 'dpv_complaint' #}
