{% extends 'layouts/base.html' %}
{% block content_page %}
    {#{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}#}
    {% block breadcrumbs %}
        {{ block.super }}


    {% endblock breadcrumbs %}
    {#    {% if object %}#}
    {#        <form role="form" action="{% url 'add_natural_person' %}" method="post">#}
    {#    {% else %}#}
    <form method="POST" class="post-form">
        {#    {% endif %}#}

        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ form_name }}</h4>
                    <div class="actions">
                        <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="row" role="form" method="post">
                        <div class="col-md-12">
                            <div class="form-control-sm">
                                <label for="">Origen</label>
                                {{ form.non_field_errors }}
                                {{ form.origin }}
                            </div>
                            <div class="form-control-sm">
                                <label for="">Asunto</label>
                                {{ form.non_field_errors }}
                                {{ form.topic }}
                            </div>
                            <div class="body">
                                <label for="">Cuerpo de la queja</label>
                                {{ form.non_field_errors }}
                                {{ form.body }}
                            </div>
                            <div class="form-control-sm">
                                <label for="">Número</label>
                                {{ form.non_field_errors }}
                                {{ form.number }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" href={% url 'main_complaint' %}>Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock content_page %}
