{% extends 'dpv_complaint/complaint_main_page.html' %}

{% block page_title %} | Quejas {% endblock page_title %}

{% load static %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}

{% block content_page %}


    <form method="POST" class="post-form">
        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ form_name }}</h4>
                    <div class="actions">
                        <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                </div>
                <div class="form-group">
                    <form class="row" role="form" method="post">
                        <div class="col-md-12">
                            <div class="form-control-sm">
                                <label for="">Asunto*</label>
                                <div>
                                    {{ form.non_field_errors }}
                                    {{ form.topic }}
                                </div>
                            </div>
                            <div class="form-control-sm">
                                <label for="">Cuerpo de la queja*</label>
                                <div>
                                    {{ form.non_field_errors }}
                                    {{ form.body }}
                                </div>
                            </div>
                            <div class="form-control-sm">
                                <label for="">Número de la queja*</label>
                                <div>
                                    {{ form.non_field_errors }}
                                    {{ form.number }}
                                </div>
                            </div>
                            <div class="form-control-sm">
                                <label for="">Referencia</label>
                                <div>
                                    {{ form.non_field_errors }}
                                    {{ form.reference }}
                                </div>
                            </div>
                            <div class="form-control-sm">
                                <label for="">Procedencia</label>
                                <div>
                                    {{ form.non_field_errors }}
                                    {{ form.origin }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" href={% url 'main_complaint' %}>Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock extra_scripts %}