{% extends 'dpv_nomencladores/list.html' %}
{% block page_title %} | Quejas {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Quejas {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/quejas/natural/' == request.path or '/quejas/juridic/' == request.path %}
    <li class="active">Quejas</li>
    {% else %}
    <li>
        <a href="{% url 'aqui va algo' %}">
            Quejas
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Quejas</strong>
                    <a href="{% url 'add_natural_complaint' %}" role="button" data-toggle="modal" class="pull-right btn btn-success btn-sm"><i class="fa fa-plus"></i>
                        Agregar Queja Natural</a>
                    <a href="{% url 'add_juridic_complaint' %}" role="button" data-toggle="modal" class="pull-right btn btn-success btn-sm"><i class="fa fa-plus"></i>
                        Agregar Queja Juridica</a>

        </div>
            <div class="card-body">
                {% if index %}
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nombre</th>
                            <th>Titulo</th>
                            <th>Cuerpo</th>
                            <th>Departamento</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for complaint in index %}
                        <tr>
                            <td>{{complaint.number}}</td>
                            {% if complaint.is_natural %}
                                <td>{{ complaint.person_natural.nombre }} {{ complaint.person_natural.apellidos }}</td>
                            {% else %}
                                <td>{{ complaint.person_juridic.nombre }}</td>
                            {% endif %}
                            <td>{{complaint.topic}}</td>
                            <td>{{complaint.body}}</td>
                            <td>{{complaint.department}}</td>
                            <td>
                                <p>De momento</p>
{#                                {% if perms.provincia.view_provincia %}#}
{#                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>#}
{#                                {% endif %}#}
{#                                {% if perms.provincia.change_provincia %}#}
{#                                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>#}
{#                                {% endif %}#}
{#                                {% if perms.provincia.delete_provincia %}#}
{#                                    <a href="#delete_provincia" role="button" data-toggle="modal" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>#}
{#                                {% endif %}#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-info">
                    <h2 class="text-center">No hay Quejas registradas que mostrar</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% if perms.dpv_events.add_provincia %}
    <div id="form_provincia" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            {% include 'dpv_nomencladores/form_provincia.html' %}

    </div>
{% endif %}
{% if perms.provincia.delete_provincia %}
    <div id="delete_provincia" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            {% include 'dpv_nomencladores/delete_provincia.html' %}
    </div>
{% endif %}

{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
{% endblock extra_scripts %}
{% block init_jquery %} {% endblock init_jquery %}