{% extends 'layouts/base.html' %}
{% block page_title %} | Quejas {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Quejas {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/quejas/technicals/' == request.path or '/quejas/juridic/' == request.path %}
        / <a class="active" href={% url 'main_complaint' %}>Técnicos</a>
    {% else %}
        <li>Técnicos</li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Técnicos</strong>
                <a role="button" class="pull-right btn btn-success btn-sm"
                href={% url 'add_natural_person' %}><i class="fa fa-plus" >
                    Agregar Queja Natural</i></a>
                <a role="button" class="pull-right
                   btn btn-success btn-sm" href={% url 'add_juridic_person' %} ><i class="fa fa-plus" >
                    Agregar Queja Juridica</i></a>

            </div>
            <div class="card-body">
                {% if index %}
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Departamento</th>
                            <th>Télefono</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for technical in index %}
                            <tr>
                                <td>{{ technical.profile.datos_personales.nombre }} {{ technical.profile.datos_personales.apellidos }}</td>
                                <td>{{ technical.profile.datos_personales.direccion_calle }}, Número {{ technical.profile.datos_personales.direccion_numero }}</td>
                                <td>{{ technical.profile.depto_trabajo.nombre }}</td>
                                {% if technical.profile.datos_personales.telefono %}
                                    <td>{{ technical.profile.datos_personales.telefono }}</td>
                                {% else %}
                                    <td>{{ technical.profile.datos_personales.movil }}</td>
                                {% endif %}
                                <td>
                                    <a href={% url 'index_assigned_to_technical' technical_id=technical.id %}>Quejas asociadas</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        <h2 class="text-center">No hay Quejas registradas que mostrar</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="form_natural" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        {% include 'dpv_complaint/form_natural_person.html' %}

    </div>
    <div id="form_juridic" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        {% include 'dpv_complaint/form_juridic.html' %}

    </div>
    {% if perms.provincia.delete_provincia %}
        <div id="delete_provincia" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static"
             data-keyboard="false">
            {% include 'dpv_nomencladores/delete_provincia.html' %}
        </div>
    {% endif %}

{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock extra_scripts %}
{% block init_jquery %} {% endblock init_jquery %}