{% extends 'dpv_complaint/complaint_main_page.html' %}
{% block content_page %}
    {% block breadcrumbs %}
        {{ block.super }}


    {% endblock breadcrumbs %}
    <style type="text/css">
        td {
            padding: 0px 8px 0px 8px;
        }
    </style>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="card-header">
                    <strong class="card-title">{{ form_name }}</strong>
                    {% if is_natural %}
                        <a role="button" class="pull-right btn btn-success btn-sm"
                           href={% url 'add_natural_complaint' person_id=person %}><i class="fa fa-plus">
                            Agregar Queja Natural</i></a>
                    {% else %}
                        <a role="button" class="pull-right btn btn-success btn-sm"
                           href={% url 'add_juridic_complaint' juridic_id=person %}><i class="fa fa-plus">
                            Agregar Queja Natural</i></a>
                    {% endif %}

                </div>

                {% if index %}
                    <table>
                        <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nombre</th>
                            <th>Asunto</th>
                            <th>Cuerpo</th>
                            <th>Departamento</th>
                            <th>Operaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for complaint in index %}
                            <tr>
                                <td>{{ complaint.number }}</td>
                                {% if complaint.is_natural %}
                                    <td>{{ complaint.person_natural.nombre }}</td>
                                {% else %}
                                    <td>{{ complaint.person_juridic.nombre }}</td>
                                {% endif %}
                                <td>{{ complaint.topic }}</td>
                                <td>{{ complaint.body }}</td>
                                {% if complaint.department %}
                                    <td>{{ complaint.department.nombre }}</td>
                                {% else %}
                                    <td><p>Queja sin asignar área de Trabajo</p></td>
                                {% endif %}

                                <td><a href={% url 'watch_complaint' complaint_id=complaint.id %}> Ver datos de la
                                    queja</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <p> No existen quejas registradas.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
