{% extends 'layouts/base.html' %}
{% block content_page %}
{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}
{% block breadcrumbs %}
    {{block.super }}

{% endblock breadcrumbs %}
<h1>{{index_name}}</h1>

{% if index %}
    <ul>
    {% for presented_complaint in index %}
        <li>{{ presented_complaint.complaint.number }}{{ presented_complaint.complaint.person.nombre}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p> No existen quejas en espera de ser Asignadas.</p>
{% endif %}
{% endblock  %}
