{% extends 'layouts/base.html' %}
{% block content_page %}
{#{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}#}
{% block breadcrumbs %}
    {{block.super }}

{% endblock breadcrumbs %}
<h1>{{index_name}}</h1>

{% if index %}
    <ul>
    {% for complaint in index %}
        <tr>
            <td>{{ complaint.number }}</td>
            {% if complaint.is_natural %}
                <td>{{ complaint.person_natural.nombre  }}</td>
            {% else %}
                <td>{{ complaint.person_juridic.nombre  }}</td>
            {% endif %}
            <td>{{ complaint.topic }}</td>
            <td>{{ complaint.body }}</td>
            {% if complaint.department %}
                <td>{{ complaint.department.nombre }}</td>
            {% else %}
                <td>Queja sin asignar area de Trabajo</td>
            {% endif %}
            <a href="complaint/{{ complaint.id }}"> Ver Todos los Datos </a>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p> No existen quejas registradas.</p>
{% endif %}
{% endblock  %}
