{% extends 'dpv_complaint/complaint_main_page.html' %}

{% load static %}


{% block breadcrumbs %}
    {{ block.super }}

{% endblock breadcrumbs %}
{% block content_page %}

    <style type="text/css">
        td {
            padding: 0px 8px 0px 8px;
        }
    </style>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">{{ form_name }}</strong>
                <a role="button" class="pull-right btn btn-success btn-sm"
                   href={% url 'add_natural_person' %}><i class="fa fa-plus">
                    Agregar Queja Natural</i></a>
                <a role="button" class="pull-right
                   btn btn-success btn-sm" href={% url 'add_juridic_person' %}><i class="fa fa-plus">
                    Agregar Queja Juridica</i></a>

            </div>
            <div class="card-body">
                {% if index %}
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Número</th>
                            <th>Argumentos del Tecnico</th>
                            <th>Tecnico</th>
                            <th>Departamento del Tecnico</th>
                            <th>Argumentos del Jefe que la acepto</th>
                            <th>Jefe</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for complaint_accepted in index %}
                            <td>
                                <a href={% url 'watch_complaint' complaint_id=complaint_accepted.complaint.id %}>{{ complaint_accepted.complaint.number }}</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href={% url 'accepted_complaint' accepted_id=complaint_accepted.id %}> Ver Todos los
                                Datos </a></td>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        <h2 class="text-center">No existen quejas aceptadas.</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
