{% extends 'layouts/base.html' %}
{% block content_page %}
{#{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}#}
{% block breadcrumbs %}
    {{block.super }}

{% endblock breadcrumbs %}
<h1>{{index_name}}</h1>

{% if index %}
    <ul>
    {% for complaint in index %}
        <tr>
            <td>{{ complaint.number }}</td>
            <td>{{ complaint.person_natural.nombre  }}</td>
            <td>{{ complaint.topic }}</td>
            <td>{{ complaint.body }}</td>
            <td> TODO REDIRECT A EL FORM TO ASIGN TO TECNIC </td>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p> No existen quejas registradas.</p>
{% endif %}
{% endblock  %}
