{% extends 'dpv_complaint/complaint_main_page.html' %}
{% block page_title %} | Quejas {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Quejas {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if False %}
        <li class="active">Quejas asignadas a el Técnico</li>
    {% else %}
        <li>
            <a href="{% url 'index_assigned_to_technical' technical_id=technical_id %}">
                Quejas asignadas a el Técnico
            </a>
        </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                {% if index %}
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nombre</th>
                            <th>Asunto</th>
                            <th>Cuerpo</th>
                            <th>Departamento</th>
                            <th>Operaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assigned in index %}
                            <tr>
                                <td><a href={% url 'watch_complaint' complaint_id=assigned.complaint.id %}>{{ assigned.complaint.number }}</a></td>
                                {% if assigned.complaint.is_natural %}
                                    <td>{{ assigned.complaint.person_natural.nombre }}</td>
                                {% else %}
                                    <td>{{ assigned.complaint.person_juridic.nombre }}</td>
                                {% endif %}
                                <td>{{ assigned.complaint.topic }}</td>
                                <td>{{ assigned.complaint.body }}</td>
                                {% if assigned.complaint.department %}
                                    <td>{{ assigned.complaint.department.nombre }}</td>
                                {% else %}
                                    <td><p> Queja sin asignar área de Trabajo</p></td>
                                {% endif %}

                                <td>
                                    <a href={% url 'form_finished_complaint' complaint_id=assigned.complaint.id technical_id=technical_id %}>
                                        Responder </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        <h2 class="text-center">No hay quejas asignadas a {{ technical_name }}</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock extra_scripts %}
{% block init_jquery %} {% endblock init_jquery %}