{% extends 'dpv_complaint/complaint_main_page.html' %}

{% block breadcrumbs_title %} Crear {% endblock breadcrumbs_title %}
{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}

{% block content_page %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h1>{{ form_name }}</h1>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Agregar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content_page %}

<h1> Bienvenido {{ request.user }} </h1>
