{% extends 'dpv_complaint/complaint_main_page.html' %}
{% block page_title %} | Quejas {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Quejas {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/quejas/natural/' == request.path %}
        <a class="active" href={% url 'main_complaint' %}>Persona natural</a>
    {% elif '/quejas/juridic/' == request.path %}
        <a class="active" href={% url 'main_complaint' %}>Persona jurídica</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div id="container"></div>
    <script src={% static 'dpv_complaint/js/highcharts.src.js' %}></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Quejas Por Mes'
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
            },
            series: [{
                name: 'Quejas Naturales',
                data: [
                    {% for entry in dataset %}{{ entry.natural_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'green'
            }, {
                name: 'Quejas Jurídicas',
                data: [
                    {% for entry in dataset %}{{ entry.juridic_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'red'
            }]
        });
    </script>
{% endblock content_page %}
