{% extends 'dpv_complaint/complaint_main_page.html' %}
{% block page_title %} | Quejas {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Quejas {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/quejas/natural/' == request.path %}
        <a class="active" href={% url 'main_complaint' %}>Persona natural</a>
    {% elif '/quejas/juridic/' == request.path %}
        <a class="active" href={% url 'main_complaint' %}>Persona jurídica</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div id="content">
        <div id="container_pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

        <div id="container_graph" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

        <div id="container_municipality_nat"
             style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

        <div id="container_municipality_jur"
             style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

        {#        <div id="container_municipality_jur"#}
        {#             style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>#}

    </div>
    <script src={% static 'dpv_complaint/js/highcharts.src.js' %}></script>
    <script src={% static 'dpv_complaint/js/jquery.min.js' %}></script>
    <script src={% static 'dpv_complaint/js/exporting.js' %}></script>
    <script src={% static 'dpv_complaint/js/export-data.js' %}></script>

    <script>
        Highcharts.chart("container_graph", {

            title: {
                text: 'Quejas insertadas por Mes'
            },

            xAxis: {
                categories: [
                    {% for entry in nat_by_month %}'{{ entry.name }}' {% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: 'Número de quejas'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },

            series: [{
                name: 'Quejas Naturales',
                data: [
                    {% for entry in nat_by_month %}{{ entry.data }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
            }, {
                name: 'Quejas Jurídicas',
                data: [
                    {% for entry in jur_by_month %}{{ entry.data }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            },
            chart: {
                renderTo: 'container_graph',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'column'
            }
        });
        Highcharts.chart("container_municipality_nat", {
            title: {
                text: 'Quejas Naturales por municipio'
            },

            xAxis: {
                categories: [
                    {% for entry in municipality_nat %}'{{ entry.name }}' {% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: 'Número de quejas'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },

            series: [{
                name: 'Quejas Naturales',
                data: [
                    {% for entry in municipality_nat %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                {#color: 'green'#}
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'column'
            }
        });
        Highcharts.chart("container_municipality_jur", {
            title: {
                text: 'Quejas Jurídicas por municipio'
            },

            xAxis: {
                categories: [
                    {% for entry in municipality_jur %}'{{ entry.name }}' {% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            yAxis: {
                title: {
                    text: 'Número de quejas'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },

            series: [{
                name: 'Quejas Jurídicas',
                data: [
                    {% for entry in municipality_jur %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'column'
            }
        });
        Highcharts.chart("container_pie", {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Quejas Ingresadas este año'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Quejas',
                colorByPoint: true,
                data: [{
                    name: 'Quejas Naturales',
                    y: {{ count_nat }},
                    sliced: true,
                    selected: true
                }, {
                    name: 'Quejas Jurídicas',
                    y: {{ count_jur }}
                }]
            }]
        });

    </script>


{% endblock content_page %}
