{% extends 'dpv_complaint/complaint_main_page.html' %}
{% block breadcrumbs_title %} {{ index_name }} {% endblock breadcrumbs_title %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                {% if not index.exists %}
                    <p>Problemas mostrando los datos de la queja finalizada</p>
                {% else %}
                    {% for complaint_finished in index %}
                        <p><strong>Número de la Queja: </strong>{{ complaint_finished.complaint.number }}</p>
                        <p><strong>Procedencia: </strong>{{ complaint_finished.complaint.origin }}</p>
                        <p><strong>Título: </strong>{{ complaint_finished.complaint.topic }}</p>
                        <p><strong>Cuerpo: </strong>{{ complaint_finished.complaint.body }}</p>
                        <p><strong>Estado: </strong>{{ complaint_finished.complaint.status }}</p>
                        <p><strong>Fecha de Entrada: </strong>{{ complaint_finished.complaint.enter_date }}</p>
                        <p><strong>Fecha de Respuesta: </strong>{{ complaint_finished.finished_date }}</p>
                        {% if complaint_finished.complaint.is_natural %}
                            <p><strong><a href={% url '' person_id=complaint_finished.complaint.person_natural %}>Datos
                                de la persona natural</a></strong></p>
                        {% else %}
                            <p><strong><a href={% url '' person_id=complaint_finished.complaint.juridic_natural %}>Datos
                                de la persona jurídica</a></strong></p>
                        {% endif %}
                        <p><strong>Área de trabajo
                            asignada: </strong>{{ complaint_finished.complaint.department.nombre }}</p>
                        <p><strong>Técnico que
                            respondió: </strong>{{ complaint_finished.technical_work_in_complaint.profile.datos_personales.nombre }} {{ complaint_finished.technical_work_in_complaint.profile.datos_personales.nombre }}
                        </p>
                        <p><strong>Respuesta del técnico: </strong> {{ complaint_finished.technical_args }}</p>
                        <p><strong>Jefe que
                            acceptó: </strong>{{ complaint_finished.boss_accepted.datos_personales.nombre }} {{ complaint_finished.boss_accepted.datos_personales.nombre }}
                        </p>
                        <p><strong>Respuesta del jefe: </strong>{{ complaint_finished.final_args }}</p>
                        <p><strong>Respuesta final: </strong>{{ complaint_finished.answer }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
