{% extends 'layouts/base.html' %}
{% block content_page %}
{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}
{% block breadcrumbs %}
    {{block.super }}

{% endblock breadcrumbs %}
    {% if index %}
        <ul>
        {% for complaint_finished in index %}
            <li>Numero de la Queja:{{ complaint_finished.complaint.number }}</li>
            <li>Procedencia:{{ complaint_finished.complaint.procedency }}</li>
            <li>Titulo:{{ complaint_finished.complaint.topic }}</li>
            <li>Cuerpo:{{ complaint_finished.complaint.body }}</li>
            <li>Estado:{{ complaint_finished.complaint.status }}</li>
            <li>Fecha de Entrada:{{ complaint_finished.complaint.enterDate }}</li>
            <li>Fecha de Respuesta: {{ complaint_finished.complaint.enterDate }}</li>
            {% if complaint_finished.complaint.is_natural %}
                <li>DATOS PERSONALES DE LA PERSONA NATURAL</li>
                <li>La queja fue realizada por una persona Natural</li>
            {% else %}
                <li>DATOS PERSONALES DE LA PERSONA JURIDICA</li>
                <li>La queja fue realizada por una persona Juridica</li>
            {% endif %}
            <li>Area de Trabajo Asignada: {{ complaint_finished.complaint.department.nombre }}</li>
            <li>Tecnico Que la respondio: {{ complaint_finished.tecnic.perfil.datos_personales.nombre }} {{ complaint_finished.tecnic.perfil.datos_personales.nombre }}</li>
            <li>Respuesta del Tecnico: <p>{{ complaint_finished.argumentsOfTecnic }}</P></li>
            <li>Jefe Que la Accepto: {{ complaint_finished.bossAccepted.datos_personales.nombre }} {{ complaint_finished.perfil.datos_personales.nombre }}</li>
            <li>Respuesta del Jefe: <p>{{ complaint_finished.finalArgumnets }}</P></li>
            <li>Respuesta Final: {{ complaint_finished.answer }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Problemas Mostrando los datos de la queja Finalizada</p>
    {% endif %}
{% endblock  %}
