{% extends 'layouts/base.html' %}
{% block content_page %}
{% block breadcrumbs_title %} {{index_name}} {% endblock breadcrumbs_title %}
{% block breadcrumbs %}
    {{block.super }}

{% endblock breadcrumbs %}
    {% if index %}
        {% for complaint_finished in index %}
            <p><strong>Numero de la Queja:</strong>{{ complaint_finished.complaint.number }}</p>
            <p><strong>Procedencia: </strong>{{ complaint_finished.complaint.procedency }}</p>
            <p><strong>Titulo: </strong>{{ complaint_finished.complaint.topic }}</p>
            <p><strong>Cuerpo: </strong>{{ complaint_finished.complaint.body }}</p>
            <p><strong>Estado: </strong>{{ complaint_finished.complaint.status }}</p>
            <p><strong>Fecha de Entrada: </strong>{{ complaint_finished.complaint.enterDate }}</p>
            {% if complaint_finished.complaint.is_natural %}
                <p>La queja fue realizada por una persona Natural</p>
            {% else %}
                <p>La queja fue realizada por una persona Juridica</p>
            {% endif %}
            <p><strong>Area de Trabajo Asignada: </strong>{{ complaint_finished.complaint.department.nombre }}</p>
            <p><strong>Tecnico Que la respondio: </strong>{{ complaint_finished.tecnic.perfil.datos_personales.nombre }} {{ complaint_finished.tecnic.perfil.datos_personales.nombre }}</p>
            <p><strong>Respuesta del Tecnico: </strong><p>{{ complaint_finished.argumentsOfTecnic }}</P></p>
            <p><strong>Jefe Que la Accepto: </strong>{{ complaint_finished.bossAccepted.datos_personales.nombre }} {{ complaint_finished.perfil.datos_personales.nombre }}</p>
            <p><strong>Respuesta del Jefe: </strong><p>{{ complaint_finished.finalArgumnets }}</P></p>
            <p><strong>Respuesta Final: </strong>{{ complaint_finished.answer }}</p>
        {% endfor %}
    {% else %}
        <p>Problemas Mostrando los datos de la queja Finalizada</p>
    {% endif %}
{% endblock  %}
