{% load static base_tags i18n %}
{% if perms.dpv_locales.view_concepto or perms.dpv_locales.view_viviendas %}
    <li class="{% if '/local/' in request.path %} active show {% endif %} menu-item-has-children dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="menu-icon fa fa-home"></i>
            Viviendas
        </a>
        <ul class="sub-menu children dropdown-menu">
            {% if perms.dpv_viviendas.view_vivienda %}
            <li class="{% if '/local/' in request.path %} active {% endif %}">

                {% exist_url 'locales_list' as locale_url %}
                {% if locale_url == 'True' %}
                <a href="{% url 'locales_list' %}">
                    <i class="fa fa-home">
                        Viviendas
                    </i>
                </a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </li>
{% endif %}