{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Cambiar contraseña</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form role="form" method="post" action="{% url 'perfil_changepass' %}"> {% csrf_token %}
            <div class="modal-body">
                {% for field in passform %}
                <div class="form-group" data-toggle="tooltip" data-placement="top" title="{{field.help_text}}" >
                    {{field.errors}}
                    <label class="control-label mb-1" for="id_{{field.name}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cambiar</button>
            </div>
        </form>
    </div>
</div>