{% extends 'layouts/admin/users.html' %}
{% block page_title %} {{ block.super }} -> Formulario {% endblock page_title %}
{% load static %}
{% block breadcrumb_title %} Formulario {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/admin/users/form' == request.path %}
    <li class="active">Crear</li>
    {% else %}
    <li>
        <a href="{% url 'admin_user_add' %}">
            Crear
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="animated fadeIn">
        <div class="row padding-short">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        Usuario
                    </div>
                    <div class="card-body">
                        <form>
                            {% for field in form %}
                            <div class="form-group col-md-6">
                                <label class="control-label mb-1">{{field.label}}</label>
                                {{field}}
                                <p class="hepl-text">{{field.help_text}}</p>
                            </div>

                            {% endfor %}
                        </form>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-default" href="{% url 'admin_user' %}">
                            <i class="fa fa-reply"></i>
                            Volver
                        </a>
                        <button type="button" class="pull-right btn btn-primary">
                            <i class="fa fa-check"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content_page %}