{% extends 'layouts/base.html' %}
{% load static base_tags %}
{% block page_title %} | Error de Autorización {% endblock page_title %}
{% load static %}
{% block main_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/themify-icons.css' %}">
{% endblock main_style %}
{% block full_page_content %}
Usted intenta realizar una accion con un token crsf corrupto regrese al inicio <a href="{% url 'base_dashboard' %}">inicio</a>
{% endblock full_page_content %}
{% block main_cripts %}
    <script src="{% static 'dpv_base/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/popper.min.js' %}"></script>
{% endblock main_cripts %}
{% block init_jquery %}
{% endblock init_jquery %}