{% extends 'layouts/base.html' %}

{% block page_title %} | Contraseña olvidada {% endblock page_title %}
{% load static %}
{% block main_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_base/css/style.css' %}">
{% endblock main_style %}
{% block full_page_content %}
    <div class="page_background_kuki">
        <div class="col-sm-10 col-md-5 offset-md-7">
            <div class="sufee-login d-flex align-content-center flex-wrap snow_white_glass">
                <div class="container">
                    <div class="login-content">
                        <div class="login-logo imagat_center">
                            <a href="index.html">
                                <img class="align-content" src="{% static 'dpv_base/images/logo-solo.png' %}" alt="Logo DPV">
                            </a>
                        </div>
                        <div class="login-form">
                            <form>
                                {% csrf_token %}
                                <div class="form-group" role="alert">
                                        <p class="alert alert-warning">Escriba su nombre de usuario o correo electrónico
                                        para recibir instrucciones por correo para reinciar
                                            su contraseña.</p>
                                </div>
                                <div class="form-group">
                                    <label>Nombre de Usuario ó Correo Electrónico</label>
                                    <input id="username_recover" name="username_recover" type="text" class="form-control" placeholder="Nombre de usuario">
                                </div>
                                <div >
                                    <label class="pull-right">
                                        <a class="color-blue" href="{% url 'base_login' %}">Regresar a la entrada</a>
                                    </label>

                                </div>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Recuperar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock full_page_content %}
{% block main_cripts %}
    <script src="{% static 'dpv_base/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/popper.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/plugins.js' %}"></script>
    <script src="{% static 'dpv_base/js/main.js' %}"></script>
{% endblock main_cripts %}
{% block init_jquery %}
{% endblock init_jquery %}