{% extends 'dpv_events/events_base.html' %}
{% load events_tags i18n %}
{% load staticfiles %}
{% block page_title %}| EVENTO {% endblock page_title %}
{% block extra_style %}
    <link href="{% static 'dpv_events/css/evento.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'dpv_base/js/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %}Evento{% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'dpv_events:eventos' %}">
            Eventos
        </a>
    </li>
    <li class="active">
        Evento
    </li>
{% endblock breadcrumbs %}

{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    EVENTO
                </strong>
            </div>
            <div class="card-body">

                <div class="default-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#tab_1_1" role="tab" aria-controls="nav-home" aria-selected="true">Información</a>
                            {% if perms.dpv_events.add_acta and model.is_done %}
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#tab_1_2" role="tab" aria-controls="nav-profile" aria-selected="false">Acta</a>
                            {% endif %}
                            {% if perms.dpv_events.add_acta and model.is_done %}
                            <a class="nav-item nav-link" id="nav-profile1-tab" data-toggle="tab" href="#tab_1_21" role="tab" aria-controls="nav-profile1" aria-selected="false">Acuerdos <span class="badge badge-primary">{{ model.acuerdo_set.count|default:"" }}</span></a>
                            {% endif %}
                            {% if perms.dpv_events.change_evento and model.in_time and not model.is_done %}
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#tab_1_3" role="tab" aria-controls="nav-contact" aria-selected="false">Modificar</a>
                            {% endif %}
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2">
                        <div id="tab_1_1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center text-muted type_evento">{{ model.type.type|upper }}</h2>
                                    <div class="row">
                                        <div class="col-md-6 profile-info">
                                            <h4>
                                                <b>FECHA PROGRAMADA:</b>
                                                <span class="date_programed_evento">
                                                    {{ model.date_programed|date }}
                                                </span>
                                            </h4>
                                            <h4>
                                                <b>HORA:</b>
                                                <span class="time_programed_evento">
                                                    {{ model.date_programed|time:"h:i A" }}
                                                </span>
                                            </h4>
                                            <h4>
                                                <b>LUGAR:</b>
                                                <span class="site_evento">
                                                    {{ model.site|upper }}
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>
                                                <b>MES:</b>
                                                <span class="month_evento">
                                                    {{ model.get_month|upper }}
                                                </span>
                                            </h4>
                                            <h4>
                                                <b>CATEGORÍA:</b>
                                                <span class="is_extraordinario_evento">
                                                    {{ model.get_is_extraordinario|upper }}
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                    <!--end row-->
                                    <div class="default-tab">
                                        <h3 class="text-center text-muted">ORDEN DEL DÍA</h3>
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-theme" role="tablist">
                                                <a class="nav-item nav-link active" id="theme-home-tab" data-toggle="tab" href="#tab_1_11" role="tab" aria-controls="nav-home" aria-selected="true">Temas</a>
                                                {% if perms.dpv_events.add_temaevento %}
                                                <a class="nav-item nav-link" id="theme-profile-tab" data-toggle="tab" href="#tab_1_22" role="tab" aria-controls="nav-profile" aria-selected="false">Temas Sugeridos <span id="cantidad_temas_sugeridos" class="badge badge-info">{{ model.temaevento_set.all|filter:"es_sugerido:True"|length|default:"" }}</span></a>
                                                {% endif %}
                                            </div>
                                        </nav>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab_1_11">
                                                <div class="card-body">
                                                    <table id="table_themes" class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <i class="fa fa-slack"></i> Tema
                                                                </th>
                                                                <th class="hidden-xs">
                                                                    <i class="fa fa-briefcase"></i> Asunto
                                                                </th>
                                                                <th>
                                                                    <i class="fa fa-user"></i> Responsable
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for theme in model.temaevento_set.all|filter:"es_sugerido:False" %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ theme.asunto }}</td>
                                                                <td>{{ theme.responsable }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_1_22">
                                                <div class="card-body">
                                                    <table id="table_themes_sugeridos" class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <i class="fa fa-slack"></i> Tema
                                                                </th>
                                                                <th class="hidden-xs">
                                                                    <i class="fa fa-briefcase"></i> Asunto
                                                                </th>
                                                                <th>
                                                                    <i class="fa fa-user"></i> Lo Sugiere
                                                                </th>
                                                                <th>
                                                                    {% if perms.dpv_events.add_temaevento and model.in_time and not model.is_done %}
                                                                    <a href="#form_theme_sugerido" class="btn btn-success btn-xs" data-toggle="modal">
                                                                        <i class="fa fa-plus"></i> Sugerir Tarea</a>
                                                                    {% endif %}
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if model.temaevento_set.all|filter:"es_sugerido:True" %}
                                                        {% for theme in model.temaevento_set.all|filter:"es_sugerido:True" %}
                                                            {% if theme.responsable_id == user.id or perms.dpv_events.change_temaevento %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ theme.asunto }}</td>
                                                                <td>{{ theme.responsable }}</td>
                                                                <td>
                                                                    {% if perms.dpv_events.change_temaevento and model.in_time and not model.is_done %}
                                                                    <button type="button" class="btn btn-sm btn-primary done" data-theme="{{ theme.id }}">
                                                                        <i class="icon-check"></i> Aprobar</button>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% else %}
                                                        <tr><td colspan="4" class="text-center text-danger">SIN TEMAS SUGERIDOS</td></tr>
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if perms.dpv_add_acta and model.is_done %}
                        <div id="tab_1_2" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title">
                                                CÓDIGO: <span class="code_acta_evento">{{ model.acta.code }}</span>
                                            </strong>
                                            {% if not model.acta %}
                                            <a id="to_create_acta" href="#form_acta_evento" class="btn btn-sm btn-success pull-right" data-toggle="modal"> Agregar Acta</a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="body_acta_evento">{{ model.acta.body }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.dpv_add_acta and model.is_done %}
                        <div id="tab_1_21" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-profile1-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title">
                                                ACUERDOS
                                            </strong>
                                            <a href="#form_acuerdo_evento" class="btn btn-sm btn-success pull-right" data-toggle="modal"> Agregar Acuerdo</a>
                                        </div>
                                        <div class="card-body">
                                            {% if model.acuerdo_set.exists %}
                                            <table id="table_2" class="table table-advance">
                                                <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Asunto</th>
                                                    <th>Responsables</th>
                                                    <th>Fecha Cumplimiento</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for acuerdo in model.acuerdo_set.all %}
                                                <tr>
                                                    <td>{{ acuerdo.code }}</td>
                                                    <td>{{ acuerdo.asunto }}</td>
                                                    <td>{% for responsableacuerdo in acuerdo.responsableacuerdo_set.all %} <span class="label label-info">{{ responsableacuerdo.responsable }}</span>{% endfor %}</td>
                                                    <td>{{ acuerdo.date_finish|date }}</td>
                                                    <td>{{ acuerdo.state }}</td>
                                                    <td></td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <div class="alert alert-info">
                                                <h2 class="text-center">No hay Acuerdos</h2>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.dpv_events.change_evento and model.in_time and not model.is_done %}
                        <div id="tab_1_3" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="row profile-account">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            <form action="#" class="form-horizontal" id="editevento_form">{% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label col-md-3">{{ form.type_evento.label_tag }}</label>
                                                            <div class="input-icon col-md-9">
                                                                {{ form.type_evento }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label col-md-3">{{ form.date_programed_evento.label_tag }}</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group date form_meridian_datetime" data-date="2012-12-21T15:25:00Z">
                                                                    {{ form.date_programed_evento }}
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                                                        <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label col-md-3">{{ form.site_evento.label_tag }}</label>
                                                            <div class="input-icon col-md-9">
                                                                {{ form.site_evento }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label col-md-3">{{ form.month_evento.label_tag }}</label>
                                                            <div class="input-icon col-md-9">
                                                                <select name="month_evento" id="id_month_evento" class="form-control" prompt="" title="Campo Obligatorio">
                                                                    <option value=""></option>
                                                                    <option value="1">Enero</option>
                                                                    <option value="2">Febrero</option>
                                                                    <option value="3">Marzo</option>
                                                                    <option value="4">Abril</option>
                                                                    <option value="5">Mayo</option>
                                                                    <option value="6">Junio</option>
                                                                    <option value="7">Julio</option>
                                                                    <option value="8">Agosto</option>
                                                                    <option value="9">Septiembre</option>
                                                                    <option value="10">Octubre</option>
                                                                    <option value="11">Noviembre</option>
                                                                    <option value="12">Diciembre</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label col-md-3">{{ form.is_extraordinario_evento.label_tag }}</label>
                                                            <div class="input-icon col-md-9">
                                                                {{ form.is_extraordinario_evento }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <h3 class="text-muted">Orden del día: <a href="#form_theme_event" class="btn btn-primary"  role="button" data-toggle="modal">{% trans 'Add' %} Tema</a></h3>
                                                        <table id="table_1" class="table table-advance">
                                                            <thead>
                                                            <tr>
                                                                <th>Tema</th>
                                                                <th>Asunto</th>
                                                                <th>Responsable</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="cancelar" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                                        Cancelar
                                                    </button>
                                                    <button type="submit" class="btn blue">
                                                        {% trans 'Save' %}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form_theme_event" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <div class="caption theme-font">
                            <i class="icon-plus theme-font"></i>
                            <span class="caption-subject bold uppercase"> {% trans 'Add' %} Tema</span>
                        </div>
                        <div class="actions">
                            <button type="button" id="close_theme_event" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="#" class="" id="newtheme_event_form">{% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="input-icon">
                                        {{ form.asunto_tema_evento }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="input-icon">
                                        {{ form.responsable_tema_evento }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="cancelar_theme_event" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {% trans 'Save' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form_theme_sugerido" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <div class="caption">
                            <i class="icon-plus theme-font"></i>
                            <span class="caption-subject bold uppercase"> Sugerir Tema</span>
                        </div>
                        <div class="actions">
                            <button type="button" id="close_theme_sugerido" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="#" class="" id="newtheme_sugerido_form">{% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="input-icon">
                                        {{ form.asunto_tema_sugerido_evento }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="cancelar_theme_sugerido" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {% trans 'Save' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form_acta_evento" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <div class="caption theme-font">
                            <i class="icon-plus theme-font"></i>
                            <span class="caption-subject bold uppercase"> {% trans 'Add' %} Acta</span>
                        </div>
                        <div class="actions">
                            <button type="button" id="close_acta_evento" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="#" class="" id="newacta_evento_form">{% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="input-icon">
                                        {{ form.body_acta_evento }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="cancelar_acta_evento" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {% trans 'Save' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form_acuerdo_evento" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header">
                        <div class="caption theme-font">
                            <i class="icon-plus theme-font"></i>
                            <span class="caption-subject bold uppercase"> {% trans 'Add' %} Acuerdo</span>
                        </div>
                        <div class="actions">
                            <button type="button" id="close_acuerdo_evento" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="#" class="" id="newacuerdo_evento_form">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-icon">
                                            {{ form.asunto_acuerdo_evento }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            {{ form.date_finish_acuerdo_evento }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            {{ form.responsables_acuerdo_evento }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="cancelar_acuerdo_evento" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {% trans 'Save' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'dpv_events/scripts/DjangoAjax.js' %}"></script>
    <script src="{% static 'dpv_events/scripts/evento.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
        var themes = [];
        {% for theme in model.temaevento_set.all|filter:"es_sugerido:False" %}
            themes.push({
                "id": '{{ forloop.counter }}',
                "asunto": '{{ theme.asunto }}',
                "responsable_id": '{{ theme.responsable_id }}',
                "responsable_name": '{{ theme.responsable.username }}',
            });
        {% endfor %}
        var model = {
            'id': '{{ model.id }}',
            'type': '{{ model.type_id }}',
            'date_programed': '{{ model.date_programed|date:"Y-m-d h:i" }}',
            'site': '{{ model.site }}',
            'month': '{{ model.month }}',
            'is_extraordinario': {% if model.is_extraordinario %}true{% else %}false{% endif %},
            'themes': themes,
            'set': function (mod) {
                this.type = mod.type.id;
                this.date_programed = mod.date_programed;
                this.site = mod.site;
                this.month = mod.month;
                this.is_extraordinario = mod.is_extraordinario;
                this.themes = mod.themes;
            },
        };

        jQuery(document).ready(function(){
            EventoScript.init();
        });
    </script>
{% endblock %}