{% extends 'layouts/dashboard.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}
    FRECUENCIA
{% endblock title %}
{% block style %}{% endblock %}
{% block page-title %}FRECUENCIA{% endblock %}{% block page-subtitle %}DPV_EVENTS{% endblock %}
{% block breakcrumb %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{% url 'dpv_events:frecuencia' %}">FRECUENCIA</a>
	</li>
{% endblock %}

{% block content %}
    <!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption theme-font">
								<i class="icon-grid theme-font"></i>
								<span class="caption-subject bold uppercase"> FRECUENCIA</span>
							</div>
                            <div class="actions">
                                {% if perms.dpv_events.add_frecuencia %}
                                    <a href="#form_frecuencia" class="btn green-haze btn-sm" role="button" data-toggle="modal">
                                        {% trans 'Add' %} Frecuencia </a>
                                {% endif %}
                                {% if models %}
                                <div class="btn-group hidden">
                                    <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                                        <i class="fa fa-cogs"></i> Exportar <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i> PDF </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-excel-o"></i> Excel </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
						</div>
						<div class="portlet-body" id="frecuencia-body">
                        {% if models %}
                            <table class="table table-striped table-hover table-bordered text-center" id="sample_editable_1">
                                <thead>
                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>Name</th>
                                    <th>Days</th>
                                    
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for model in models %}
                                    <tr>
                                        <td>
                                            {{ model.id }}
                                        </td>
                                        <td>{{ model.name }}</td>
                                        <td>{{ model.days }}</td>
                                        
                                        <td>
                                            {% if perms.dpv_events.change_frecuencia %}
                                                <a class="edit btn default btn-xs purple" href="javascript:;">
                                                    Editar </a>
                                            {% endif %}
                                            {% if perms.dpv_events.delete_frecuencia %}
                                                <a href="#myModal{{ model.id }}" role="button" class="btn default btn-xs black" data-toggle="modal">
                                                    Borrar </a>
                                                <div id="myModal{{ model.id }}" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Confirmar </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-center">
                                                                    Seguro desea borrar el Frecuencia
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn default" data-dismiss="modal" aria-hidden="true">
                                                                    Cancelar
                                                                </button>
                                                                <button data-dismiss="modal" class="delete btn blue">
                                                                    Confirmar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
							</table>
                        {% else %}
                            <div class="no-result theme-font">
                                No hay Frecuencias
                            </div>
                        {% endif %}
                        </div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
	<!-- END PAGE CONTENT -->
    {% if perms.dpv_events.add_frecuencia %}
        <div id="form_frecuencia" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption theme-font">
                                <i class="icon-plus theme-font"></i>
                                <span class="caption-subject bold uppercase"> {% trans 'Add' %} Frecuencia</span>
                            </div>
                            <div class="actions">
                                <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal" id="newfrecuencia_form">{% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                    <div class="form-group col-md-12">
                                        <label class="control-label col-md-3">{{ field.label_tag }}</label>
                                        <div class="input-icon col-md-9">
                                            {{ field }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button id="cancelar" type="button" class="btn default" data-dismiss="modal" aria-hidden="true">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn blue">
                                        {% trans 'Save' %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static "dpv_events/scripts/frecuencia.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            FrecuenciaScript.init();
        });
    </script>
{% endblock %}