{% if object %}
    <form role="form" action="{% url 'organismo_edit' object.id %}" method="post">
    {% else %}
    <form role="form" action="{% url 'organismo_new' %}" method="post">
    {% endif %}
{% csrf_token %}
<div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" >
                    <h4 class="modal-title">Organismo</h4>
                    <div class="actions">
                        <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                 </div>
                <div class="modal-body">
                    <form class="row" role="form" method="post">
                       <div class="col-md-6">
                            <div class="form-control-sm">
                                <label for="">Nombre</label>
                                {{ form.non_field_errors }}
                                {{ form.nombre }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-control-sm">
                                <label for="">Siglas</label>
                                {{ form.non_field_errors }}
                                {{ form.siglas}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</form>
