<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if concepto %}
        <form role="form" action="{% url 'concepto_edit' concepto.id %}" method="post" id="form_concepto">
        {% else %}
        <form role="form" action="{% url 'concepto_new' %}" method="post" id="form_concepto">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Concepto</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    <label>Nombre</label>
                    {{ form.non_field_errors }}
                    {{ form.nombre }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#form_concepto').validate();
</script>