{% extends 'dpv_nomencladores/list.html' %}
{% block page_title %} | Destinos {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Destinos {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/nomenclador/destino/' == request.path %}
    <li class="active">Destinos</li>
    {% else %}
    <li>
        <a href="{% url 'nomenclador_destino' %}">
            Destinos
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Calles</strong>
                {% if perms.destino.add_destino %}
                <button type="button" class="pull-right btn btn-success btn-sm"><i class="fa fa-plus"></i> Agregar Destino</button>
                {% endif %}
            </div>
            <div class="card-body">
                {% if destinos %}
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for destino in destinos %}
                        <tr>
                            <td>{{destino.nombre}}</td>
                            <td>
                                {% if perms.destino.view_destino %}
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>
                                {% endif %}
                                {% if perms.destino.change_destino %}
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                                {% endif %}
                                {% if perms.destino.delete_destino %}
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-info">
                    <h2 class="text-center">No hay Destinos registrados que mostrar</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
{% endblock extra_scripts %}
{% block init_jquery %} {% endblock init_jquery %}