{% extends 'dpv_nomencladores/list.html' %}
{% block page_title %} | Municipios {% endblock page_title %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'dpv_base/css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dpv_nomencladores/css/nomencladores.css' %}">
{% endblock extra_style %}
{% block breadcrumb_title %} Gestión de Municipios {% endblock breadcrumb_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if '/nomenclador/municipio/' == request.path %}
        <li class="active">Municipios</li>
    {% else %}
    <li>
        <a href="{% url 'nomenclador_municipio' %}">
            Municipios
        </a>
    </li>
    {% endif %}
{% endblock breadcrumbs %}
{% block content_page %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Municipios</strong>
                {% if perms.dpv_nomencladores.add_municipio %}
                   <button onclick="return abrir_modal('{% url 'municipio_new' %}')" class="pull-right btn btn-success btn-sm">
                        <i class="fa fa-plus"></i>Agregar Municipio</button>
                {% endif %}
            </div>
            <div class="card-body">
                {% if municipios %}
                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Nombre</th>
                                <th>Provincia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for municipio in municipios %}
                            <tr>
                                <td>{{municipio.numero}}</td>
                                <td>{{municipio.nombre}}</td>
                                <td>{{municipio.provincia}}</td>
                                <td>
                                    {% if perms.dpv_nomencladores.change_municipio %}
                                    <a onclick="return abrir_modal('{% url 'municipio_edit' municipio.id %}')" class="btn btn-sm btn-warning" role="button" data-toggle="modal"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if perms.dpv_nomencladores.delete_municipio %}
                                    <a onclick="return abrir_modal('{% url 'municipio_delete' municipio.id %}')" class="btn btn-sm btn-danger" role="button" data-toggle="modal"><i class="fa fa-times"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="alert alert-info">
                    <h2 class="text-center">No hay Municipios registrados que mostrar</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade modal-show" id="popup" role="dialog">

    </div>
{% endblock content_page %}
{% block extra_scripts %}
    <script src="{% static 'dpv_base/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dpv_base/js/lib/data-table/datatables-init.js' %}"></script>
    <script src="{% static 'dpv_nomencladores/js/nomencladores.js' %}"></script>
    <script src="{% static 'dpv_nomencladores/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'dpv_nomencladores/js/validation.functions.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
{% endblock extra_scripts %}
{% block init_jquery %} {% endblock init_jquery %}